<nav class="navbar navbar-expand-md bg-body-tertiary">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">DMenús</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/welcome">Inicio</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/menu">Menú</a>
              </li>
          </ul>
          <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <li class="nav-item" *ngIf="!authService.isAuthenticated()">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item" *ngIf="!authService.isAuthenticated()">
                <a class="nav-link" href="/register">Register</a>
            </li>
        </ul>
          <button class="btn btn-outline-danger" *ngIf="authService.isAuthenticated()" (click)="logout()">Cerrar Sesión</button>
      </div>
  </div>
</nav>

